<header>
</header>
<body>
<div id="wrapper">
  <div id="links">
   <br>
    <h2>Wetterinfo Rheine</h2>
    <div id="cont_18b706e829e0fdb9f94dc497f28546d0"><span id="h_18b706e829e0fdb9f94dc497f28546d0"><a class="LinkWid" href="http://www.daswetter.com/wetter_Rheine-Europa-Deutschland-Nordrhein+Westfalen--1-101134.html" target="_blank" style="font-family:Helvetica; font-size:13px; color:#656565;">Rheine</a></span><script type="text/javascript" async src="https://www.daswetter.com/wid_loader/18b706e829e0fdb9f94dc497f28546d0"></script></div>
     <hr>
    <h2>Routenplaner</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d1046.0841515050781!2d7.463990052011148!3d52.2863679164317!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x47b9cd51c334a0fd%3A0xe194d26745e80aec!2sMultifit+GmbH+%26+Co.+KG%2C+Osnabr%C3%BCcker+Str.+227%2C+48429+Rheine!3m2!1d52.2864253!2d7.4643619999999995!5e1!3m2!1sde!2sde!4v1456438590676" width="550" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  <div id="rechts">
    <h2>Schwarzes Brett</h2>

    <% @messages.each do |message| %>
        <div class="message">
          <h4 id="title"><%= link_to message.title, message%>
          <% if message.important %>
             <div id="important_tag">- Wichtig!</div>
          <% end %>
            <p>Verfasst am: <%= message.created_at.strftime('%d.%m.%y') %></p></h4>
          <p><%= message.description.truncate_words(40)  %>
          <% if message.description.length >120 %>
              <%= link_to "[Weiterlesen]", message%>
                </p>
          <% end %>

        </div>
    <hr>
    <% end %>
    <div id="button1"><p><%= link_to "Neue Nachricht anlegen", new_message_path%></p></div>
    <p><%= paginate @messages %></p>
  </div>
</div>
</body>