<header>
</header>
<body>
<div id="wrapper">
  <div id="links">
    <p><br>Inhaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaalt</p>
  </div>
  <div id="rechts">
    <h1>Schwarzes Brett</h1>

    <% @messages.each do |message| %>
        <div class="message">
          <h4 id="title"><%= link_to message.title, message%>
          <% if message.important %>
             <div id="important_tag">- Wichtig!</div>
          <% end %>
            <p>Verfasst am: <%= message.created_at.strftime('%d.%m.%y') %></p></h4>
          <p><%= message.description.truncate_words(40)  %>
          <% if message.description.length >120 %>
              <%= link_to "[Weiterlesen]", message%>
                </p>
          <% end %>

        </div>
    <hr>
    <% end %>
    <div id="button1"><p><%= link_to "Neue Nachricht anlegen", new_message_path%></p></div>
    <p><%= paginate @messages %></p>
  </div>
</div>
</body>