<h1>Neue Nachricht</h1>
<%= simple_form_for @messages do |form| %>
  <%= form.input :title, label: "Überschrift"%>
  <%= form.input :description, label: "Beschreibung" %>
  <%= form.input :date, label: "Datum" %>
  <%= form.input :important, label: "Wichtig"%>
  <%= form.button :submit %>
<%end%>
