
<div class="message">
<p>
 <h1> <%= @message.title %></h1>

</p>

<p>
  <%= @message.description %>
</p>
<br>
<p>
  Verfasst am:  <%= @message.created_at.strftime('%d.%m.%y')%>
</p>
</div>
<br>
<%= link_to "Zurück zur Startseite", messages_index_path%>

<h2>Kommentare</h2>

<% @message.comments.each do |comment| %>
<%= comment.text%>
<%end%>



