<p id="notice"><%= notice %></p>

<h1>Kalender zur Raumbelegung</h1>

<h2><%= link_to 'Neue Raumbelegung', new_roomplan_path %></h2>

<table width=100% border="1">
  <thead>
    <tr>
      <th>Raum</th>
      <th>Benutzung</th>
      <th>Start</th>
      <th>Ende</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @roomplans.each do |roomplan| %>
      <tr>
        <td><%= roomplan.room.name %></td>
        <td><%= roomplan.usage %></td>
        <td><%= roomplan.start_time %></td>
        <td><%= roomplan.end_time %></td>
        <td><%= link_to 'Anzeigen', roomplan %></td>
        <td><%= link_to 'Editieren', edit_roomplan_path(roomplan) %></td>
        <td><%= link_to 'Löschen', roomplan, method: :delete, data: { confirm: 'Sind Sie sicher?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>


<%= month_calendar events: @roomplans do |date, roomplans| %>
    <%= date %>

    <% roomplans.each do |roomplan| %>
        <div>
          <%= link_to roomplan.room.name, roomplan %>
        </div>
    <% end %>
<% end %>


<h2>Insgesamt verfügbare Räume</h2>

<% @rooms.each do |room| %>
    <ul>
      <li><%= room.name %></li>
    </ul>

<% end %>
