<p id="notice"><%= notice %></p>

<h1>Kalender zur Raumbelegung</h1>

<div id="button1"><h2><%= link_to 'Neue Raumbelegung', new_roomplan_path %></h2></div>

<br>
<br>

<%= month_calendar events: @roomplans do |date, roomplans| %>
    <b><%= date.strftime("%d.%m.%Y") %></b>

    <% roomplans.each do |roomplan| %>
        <div>
          <%= roomplan.user.first_name %> <%= roomplan.user.last_name %>
          <br>
          <%= link_to roomplan.room.name, roomplan %>
          <br>
          <%= roomplan.start_time.strftime("%H:%M") %> - <%= roomplan.end_time.strftime("%H:%M") %>
          <br>
          <%= link_to 'A', roomplan %> - <%= link_to 'E', edit_roomplan_path(roomplan) %> - <%= link_to 'L', roomplan, method: :delete, data: { confirm: 'Sind Sie sicher?' } %>
          <hr>
        </div>
    <% end %>
<% end %>
<p>
  Legende:<br>A -> Anzeigen, E -> Editieren, L -> Löschen
</p>


<h2>Insgesamt verfügbare Räume</h2>

<% @rooms.each do |room| %>
    <ul>
      <li><%= room.name %></li>
    </ul>

<% end %>
