<p id="notice"><%= notice %></p>

<p>
  <strong>Room:</strong>
  <%= @roomplan.room %>
</p>

<p>
  <strong>Usage:</strong>
  <%= @roomplan.usage %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @roomplan.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @roomplan.end_time %>
</p>

<%= link_to 'Edit', edit_roomplan_path(@roomplan) %> |
<%= link_to 'Back', roomplans_path %>
