<p id="notice"><%= notice %></p>

<h1>Kalender zur Urlaubsplanung</h1>

<h2><%= link_to 'Neuer Urlaub', new_vacationplan_path %></h2>

<br>
<br>

<%= month_calendar events: @vacationplans do |date, vacationplans| %>
    <b><%= date.strftime("%d.%m.%Y") %></b>
      <% vacationplans.each do |vacationplan| %>
        <div>
          <%= vacationplan.user.first_name %> <%= vacationplan.user.last_name %>
          <br>
          <%= vacationplan.start_time.strftime("%H:%M") %> - <%= vacationplan.end_time.strftime("%H:%M") %>
          <br>
          <%= link_to 'A', vacationplan %> - <%= link_to 'E', edit_vacationplan_path(vacationplan) %> - <%= link_to 'L', vacationplan, method: :delete, data: { confirm: 'Sind Sie sicher?' } %>
          <hr>
        </div>
    <% end %>
<% end %>
