<p id="notice"><%= notice %></p>

<h1>Kalender zur Urlaubsplanung</h1>

<h2><%= link_to 'Neuer Urlaub', new_vacationplan_path %></h2>

<table width=100% border="1">
  <thead>
    <tr>
      <th>Benutzer</th>
      <th>Start</th>
      <th>Ende</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vacationplans.each do |vacationplan| %>
      <tr>
        <td><%= vacationplan.user %></td>
        <td><%= vacationplan.start_time %></td>
        <td><%= vacationplan.end_time %></td>
        <td><%= link_to 'Anzeigen', vacationplan %></td>
        <td><%= link_to 'Editieren', edit_vacationplan_path(vacationplan) %></td>
        <td><%= link_to 'Löschen', vacationplan, method: :delete, data: { confirm: 'Sind Sie sicher?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>


<%= month_calendar events: @vacationplans do |date, vacationsplans| %>
    <%= date %>

    <% vacationsplans.each do |vacationsplan| %>
        <div>
          <%= link_to vacationsplan.user.name, vacationsplan %>
        </div>
    <% end %>
<% end %>