
<p>
  <strong>Benutzer:</strong>
  <%= @vacationplan.user.first_name %> <%= @vacationplan.user.last_name %>
</p>

<p>
  <strong>Start::</strong>
  <%= @vacationplan.start_time.strftime("%d.%m.%Y %H:%M") %>
</p>

<p>
  <strong>Ende:</strong>
  <%= @vacationplan.end_time.strftime("%d.%m.%Y %H:%M") %>
</p>

<%= link_to 'Editieren', edit_vacationplan_path(@vacationplan) %> |
<%= link_to 'Zurück', vacationplans_path %>
