<%= form_for(@carevent) do |f| %>
  <% if @carevent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@carevent.errors.count, "error") %> verhindert die Speicherung des Eintrags:</h2>

      <ul>
      <% @carevent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!--    <div class="field">
      <%= f.label 'Nutzer' %><br>
      <%= current_user.email %>
    </div>-->
  <div class="field">
    <%= f.label 'Titel' %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label 'Beschreibung' %><br>
    <%= f.text_area :description %>
  </div>
    <div class="field">
      <%= f.label 'KFZ' %><br>
      <%= f.collection_select :car_id, Car.all, :id, :name %>
    </div>
  <div class="field">
    <%= f.label 'Start' %><br>
    <%= f.datetime_select :start_time %>
  </div>
  <div class="field">
    <%= f.label 'Ende' %><br>
    <%= f.datetime_select :end_time %>
  </div>

  <div class="actions">
    <%= f.submit value='Abschicken' %>
  </div>
<% end %>
