<p id="notice"><%= notice %></p>

<h1>Kalender zur Kfz-Nutzung</h1>

<h2><%= link_to 'Neue Kfz-Nutzung', new_carevent_path %></h2>

<br>
<br>

<%= month_calendar events: @carevents do |date, carevents| %>
    <b><%= date.strftime("%d.%m.%Y") %></b>

    <% carevents.each do |carevent| %>
        <div>
          <%= carevent.user.first_name %> <%= carevent.user.last_name %> - <%= link_to carevent.title, carevent %>
          <br>
          <%= carevent.car.name %>
          <br>
          <%= carevent.start_time.strftime("%H:%M") %> - <%= carevent.end_time.strftime("%H:%M") %>
          <br>
          <%= link_to 'A', carevent %> - <%= link_to 'E', edit_carevent_path(carevent) %> - <%= link_to 'L', carevent, method: :delete, data: { confirm: 'Sind Sie sicher?' } %>
          <hr>
        </div>
    <% end %>
<% end %>
<p>
Legende:<br>A -> Anzeigen, E -> Editieren, L -> Löschen
</p>

<h2>Insgesamt verfügbare Kraftfahrzeuge</h2>

<% @cars.each do |car| %>
<ul>
  <li><%= car.name %></li>
</ul>

<% end %>
